* @HelloWRC @ClassIsland/developers-classisland

# 关键文件
/.github/ @HelloWRC
/tools/ @HelloWRC
*.md @HelloWRC
*.ps1 @HelloWRC

# 构建关键文件
*.csproj @HelloWRC
*.props @HelloWRC
*.targets @HelloWRC

# 关键组件
/ClassIsland/Services/LessonsService.cs @HelloWRC
/ClassIsland/Services/ProfileService.cs @HelloWRC
/ClassIsland/Services/SettingsService.cs @HelloWRC
/ClassIsland/Services/Management/ @HelloWRC
/ClassIsland/MainWindow.xaml* @HelloWRC
/ClassIsland/App.xaml* @HelloWRC
/ClassIsland.Core/ThemeBase.xaml @HelloWRC

# 类别：自动化
**/Action @DryIce-cc @HelloWRC
**/Automation @DryIce-cc @HelloWRC
/ClassIsland.Core/Abstractions/Services/IActionService.cs @DryIce-cc @HelloWRC
/ClassIsland.Core/Abstractions/Services/IAutomationService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/ActionService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/AutomationService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/ActionHandlers @DryIce-cc @HelloWRC
/ClassIsland/Controls/ActionSettingsControls @DryIce-cc @HelloWRC

# 类别：集控/Protobuf
*.proto @Doctor-yoi @HelloWRC
