version: 1.0.{build}
image: Visual Studio 2022
configuration: Release
platform: x64
skip_tags: true
environment:
  appcenter_token:
    secure: 2CPAZ5+bQnvsQLK3ArwP7/Mt8dqLQdk3+5iXqMlZc+ZJ+ymhZ8J+VH1wE/j0hsMo
build_script:
  - pwsh: pwsh -ep Bypass -c ./tools/build-appveyor.ps1
artifacts:
  - path: ./out/*.zip
    type: Zip
  - path: ./out/*.nupkg
    type: NuGetPackage
  - path: ./out/*.md5sum
    type: File
  - path: ./out/*.md
    type: File
deploy:
  - provider: Environment
    name: gh_releases
    on:
      APPVEYOR_REPO_TAG: true
nuget:
  project_feed: true
  disable_publish_on_pr: true