[Desktop Entry]
Type=Application
Name=ClassIsland - URL Handler
Icon=cn.classisland.app
Exec={1} --uri %U
Terminal=false
StartupNotify=true
Comment=功能强大、可定制、跨平台的大屏课表显示工具。
NoDisplay=true
MimeTypes=x-scheme-handler/classisland
Categories=Education;Office